In [45]:
import quandl
import pandas as pd
import seaborn as sns

In [28]:
def Z_score(data):
    # not including the current observation
    std = data.iloc[:-1].std()
    mean = data.iloc[:-1].mean()
    Z = (data[-1:] - mean)/std
    return Z

In [43]:
def color_negative_red(value):
    """
      Colors elements in a dateframe
      green if positive and red if
      negative. Does not color NaN
      values.
      """

    if value < 0:
        color = 'red'
    elif value > 0:
        color = 'green'
    else:
        color = 'black'

    return 'color: %s' % color

# Sentiment analysis (Futures only)
- sp500
- gold
- dollar


Z score for net positions (1 and 3 years) and change in position (1 month and 3 months).

In [4]:
#data import

gold_tmp = quandl.get("CFTC/088691_F_L_ALL")
sp500_tmp = quandl.get("CFTC/138741_F_L_ALL")
dxy_tmp = quandl.get("CFTC/098662_F_L_ALL")

In [22]:
assets = [gold_tmp,sp500_tmp, dxy_tmp ]
asset_names = ['Gold', 'SP500', 'DXY']

In [39]:
for asset in assets:
    asset['Net Position'] = asset['Noncommercial Long'] - asset['Noncommercial Short']
    asset['1 Yr Z Score'] = asset['Net Position'].rolling(52).apply(lambda x: Z_score(x),raw=False)
    asset['3 Yr Z Score'] = asset['Net Position'].rolling(3 * 52).apply(lambda x: Z_score(x),raw=False) 
    asset['1 Month Change'] = asset['Net Position'].pct_change(4)  
    asset['3 Month Change'] = asset['Net Position'].pct_change(3*4)

In [47]:
TOTAL_ASSETS = None

for asset in assets:
    
    TOTAL_ASSETS = pd.concat([TOTAL_ASSETS, asset.tail(1)], axis = 0)
    
TOTAL_ASSETS['Asset'] = asset_names
TOTAL_ASSETS.set_index(['Asset'], inplace=True, drop=True)

compact = ['1 Yr Z Score', '3 Yr Z Score', '1 Month Change', '3 Month Change']
TOTAL_ASSETS = TOTAL_ASSETS[compact]

In [48]:
TOTAL_ASSETS

       1 Yr Z Score  3 Yr Z Score  1 Month Change  3 Month Change
Asset
Gold       0.223761      0.903316        0.080845        0.239770
SP500     -0.412524      0.041462       -0.487482       -0.832417
DXY       -1.782527     -1.964866       13.431211        0.536847

## Display Results

In [49]:
th_props = [
  ('font-size', '16px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', 'Black'),
  ('background-color', '#f7f7f9')
  ]


# Set CSS properties for td elements in dataframe
td_props = [('font-size', '16px'), ('text-align', 'center')]

# Set table styles
styles = [
    dict(selector="th", props=th_props),
    dict(selector="td", props=td_props)
]

cm_low_good = sns.diverging_palette(150, 10, s=80, l=70, n=len(TOTAL_ASSETS.columns), as_cmap=True)#sns.light_palette("green", as_cmap=True)
cm_high_good = sns.diverging_palette(10, 150, s=80, l=70, n=len(TOTAL_ASSETS.columns), as_cmap=True)

TOTAL_ASSETS_VIEW = (TOTAL_ASSETS.style
    .applymap(color_negative_red, subset=['1 Yr Z Score', '3 Yr Z Score', '1 Month Change', '3 Month Change'])
    #.background_gradient(axis = 0 ,subset = ['DSSP', 'HIDI'],cmap=cm_high_good)
    #.background_gradient(axis = 0 ,subset = ['VRANK', 'MRANK','CRANK', 'ST'],cmap=cm_low_good)
    #.set_caption('Performance Metrics')
    .format({'1 Month Change': "{:.1%}",'3 Month Change': "{:.1%}", '1 Yr Z Score': "{:.2f}", '3 Yr Z Score': "{:.2f}"})
    .set_table_styles(styles))

In [50]:
TOTAL_ASSETS_VIEW

In [53]:
(-14056)/(-975)

14.416410256410256