In [1]:
from requests import get
from json import loads
from time import sleep
from typing import List
from borsdata_sdk.models.Instrument import Instrument
from borsdata_sdk.models.Market import Market
import pandas as pd
from http import HTTPStatus
from borsdata_sdk import BorsdataAPI
import borsdata_sdk
import requests
from pandas.io.json import json_normalize
import numpy as np

In [2]:
auth_key = 'f4e8e3c7c46c4c34ae238a1822863410'

RATE_LIMIT = 429
borsdata = BorsdataAPI(auth_key)
instruments = borsdata.get_instruments()

In [3]:
my_list = []
for i in range(len(instruments)):
    tmp_list = [instruments[i].insId,instruments[i].name,instruments[i].countryId,instruments[i].sectorId,instruments[i].marketId,instruments[i].instrument]
    my_list.append(tmp_list)

instruments_df=pd.DataFrame(my_list,columns=['insID','Name','countryId','sectorId', 'marketId', 'instrument']) 

# Rename the lists to the real names
# MarketId: 1 = Large Cap, 2 = Mid Cap, 3=Small Cap, 4=First North

swe_stock_main = instruments_df[(instruments_df['countryId'] == 1) & (instruments_df['instrument'] == 0) & (instruments_df['marketId'].isin([1,2,3, 4]))]

### TEST WITH JSON

- stack reports

In [4]:
URL = "https://apiservice.borsdata.se/v1/instruments/2/reports?authKey=f4e8e3c7c46c4c34ae238a1822863410&maxQuarterCount=40"
response = requests.get(URL)
#tmp_df = json_normalize(response.json(), record_path ='reportsR12')

In [5]:
#insID = 2
#swe_stock_main['insID'].values:

#REPORTS_df = pd.DataFrame(columns=['d', 'insID','h','l','c','o','v'])
#REPORTS_df = REPORTS_df.set_index(['d', 'insID'])
REPORTS_df = pd.DataFrame()

#for ins in swe_stock_main['insID'].values:
for ins in [3]:
    
    URL = "https://apiservice.borsdata.se/v1/instruments/"+str(ins)+"/reports?authKey=f4e8e3c7c46c4c34ae238a1822863410&maxQuarterCount=40"
    response = requests.get(URL)

    R12_tmp = json_normalize(response.json(), record_path ='reportsR12')
    #if report date is missing, set first day of next year
    R12_tmp.loc[R12_tmp['report_Date'].isna(),'report_Date'] = pd.to_datetime(R12_tmp[R12_tmp['report_Date'].isna()]['year']+1,format="%Y")
    
    R12_tmp['report_Date'] = pd.to_datetime(R12_tmp['report_Date'])
    R12_tmp['d'] = pd.to_datetime(R12_tmp['report_Date'])
    R12_tmp['insID'] = ins
    R12_tmp = R12_tmp.set_index(['d', 'insID'])
    
    yearly_tmp = json_normalize(response.json(), record_path ='reportsYear')
    #if report date is missing, set first day of next year
    yearly_tmp.loc[yearly_tmp['report_Date'].isna(),'report_Date'] = pd.to_datetime(yearly_tmp[yearly_tmp['report_Date'].isna()]['year']+1,format="%Y")
    
    yearly_tmp['report_Date'] = pd.to_datetime(yearly_tmp['report_Date'])
    yearly_tmp['d'] = pd.to_datetime(yearly_tmp['report_Date'])
    yearly_tmp['insID'] = ins
    yearly_tmp = yearly_tmp.set_index(['d', 'insID'])
    
    quarter_tmp = json_normalize(response.json(), record_path ='reportsYear')
    #if report date is missing, set first day of next year
    quarter_tmp.loc[quarter_tmp['report_Date'].isna(),'report_Date'] = pd.to_datetime(quarter_tmp[quarter_tmp['report_Date'].isna()]['year']+1,format="%Y")
    
    quarter_tmp['report_Date'] = pd.to_datetime(quarter_tmp['report_Date'])
    quarter_tmp['d'] = pd.to_datetime(quarter_tmp['report_Date'])
    quarter_tmp['insID'] = ins
    quarter_tmp = quarter_tmp.set_index(['d', 'insID'])
    quarter_tmp.columns = quarter_tmp.columns + "_quarter"
    
    full_report_tmp = pd.concat([R12_tmp,yearly_tmp, quarter_tmp], sort=True)
    REPORTS_df = pd.concat([REPORTS_df,full_report_tmp], sort=True) 
    
REPORTS_df = REPORTS_df.sort_index()

In [6]:
#REPORTS_df

yearly_tmp

,,year,period,revenues,gross_Income,operating_Income,profit_Before_Tax,profit_To_Equity_Holders,earnings_Per_Share,number_Of_Shares,dividend,...,stock_Price_Average,stock_Price_High,stock_Price_Low,report_Start_Date,report_End_Date,broken_Fiscal_Year,currency,currency_Ratio,net_Sales,report_Date
d,insID,,,,,,,,,,,,,,,,,,,,,
2021-02-04,3,2020,5,219525.60,66175.20,13381.20,7064.40,2469.60,1.1698,2111.0,7.4760,...,193.625,242.7,144.55,2020-01-01T00:00:00,2020-12-31T00:00:00,False,USD,8.40,178197.60,2021-02-04
2020-02-05,3,2019,5,251802.00,80154.00,17442.00,16758.00,12951.00,6.0745,2132.0,7.4160,...,198.125,228.9,167.35,2019-01-01T00:00:00,2019-12-31T00:00:00,False,USD,9.00,202986.00,2020-02-05
2019-02-28,3,2018,5,248958.00,76896.00,20034.00,19071.00,19557.00,9.1730,2132.0,7.4160,...,196.075,227.8,164.35,2018-01-01T00:00:00,2018-12-31T00:00:00,False,USD,9.00,201294.00,2019-02-28
2018-02-08,3,2017,5,284789.60,85207.80,28502.20,26817.30,18367.90,8.5911,2138.0,6.8890,...,202.850,224.6,181.10,2017-01-01T00:00:00,2017-12-31T00:00:00,False,USD,8.30,233503.90,2018-02-08
2017-02-08,3,2016,5,300730.92,86650.83,27203.40,25532.08,17308.83,8.0468,2151.0,6.7564,...,168.550,200.8,136.30,2016-01-01T00:00:00,2016-12-31T00:00:00,False,USD,8.89,247284.24,2017-02-08
2016-02-03,3,2015,5,303717.36,86747.04,26099.44,24310.40,16520.80,7.4217,2226.0,6.2077,...,169.850,196.0,143.70,2015-01-01T00:00:00,2015-12-31T00:00:00,False,USD,8.56,252323.12,2016-02-03
2015-02-05,3,2014,5,329792.40,92860.20,34593.84,22306.32,21478.32,9.3873,2288.0,6.4501,...,159.200,176.3,142.10,2014-01-01T00:00:00,2014-12-31T00:00:00,False,USD,8.28,275550.12,2015-02-05
2014-02-13,3,2013,5,272848.96,78187.84,28603.24,26510.32,18171.24,7.8892,2299.0,5.0660,...,152.650,172.4,132.90,2013-01-01T00:00:00,2013-12-31T00:00:00,False,USD,6.52,272848.96,2014-02-13
2013-02-14,3,2012,5,256864.08,74298.34,26498.74,25062.14,17657.12,7.7054,2293.0,4.7956,...,127.200,147.4,107.00,2012-01-01T00:00:00,2012-12-31T00:00:00,False,USD,6.53,256864.08,2013-02-14
2012-02-16,3,2011,5,259471.70,78094.22,31875.61,31076.50,21575.97,9.4254,2288.0,4.6614,...,140.750,170.4,111.10,2011-01-01T00:00:00,2011-12-31T00:00:00,False,USD,6.83,259471.70,2012-02-16

In [129]:
SAVE = 'YES'

if SAVE == 'YES':
    REPORTS_df.to_csv("SWE_REPORTS.csv")

In [122]:
URL = "https://apiservice.borsdata.se/v1/instruments/"+str(2336)+"/reports?authKey=f4e8e3c7c46c4c34ae238a1822863410&maxQuarterCount=40"
response = requests.get(URL)

R12_tmp = json_normalize(response.json(), record_path ='reportsR12')

In [123]:
R12_tmp

,year,period,revenues,gross_Income,operating_Income,profit_Before_Tax,profit_To_Equity_Holders,earnings_Per_Share,number_Of_Shares,dividend,...,stock_Price_Average,stock_Price_High,stock_Price_Low,report_Start_Date,report_End_Date,broken_Fiscal_Year,currency,currency_Ratio,net_Sales,report_Date
0,2020,4,0.0,0.0,0.0,0.0,0.0,0.0,53.702,0.0,...,7.05,7.6,6.5,2020-01-01T00:00:00,2020-12-31T00:00:00,False,SEK,1.0,0.0,None
1,2019,4,0.0,0.0,0.0,0.0,0.0,0.0,53.702,0.0,...,0.00,0.0,0.0,2019-01-01T00:00:00,2019-12-31T00:00:00,False,SEK,1.0,0.0,None

In [121]:
R12_tmp[R12_tmp['report_Date'].isna()]['report_Date'] = pd.to_datetime(R12_tmp[R12_tmp['report_Date'].isna()]['year']+1,format="%Y")

In [107]:
pd.to_datetime(R12_tmp[R12_tmp['report_Date'].isna()]['year']+1,format="%Y")

0   2021-01-01
1   2020-01-01
Name: year, dtype: datetime64[ns]

In [114]:
R12_tmp[R12_tmp['report_Date'].isna()]

           year  period  revenues  gross_Income  operating_Income  \
d   insID
NaT 2286   2021       2   457.837       413.574           -95.618
    2286   2020       4   438.103       392.962           -73.933

           profit_Before_Tax  profit_To_Equity_Holders  earnings_Per_Share  \
d   insID
NaT 2286            -109.711                  -107.360             -0.6961
    2286             -86.250                   -84.831             -0.5500

           number_Of_Shares  dividend  ...  stock_Price_Average  \
d   insID                              ...
NaT 2286            154.222       0.0  ...                  0.0
    2286            154.222       0.0  ...                  0.0

           stock_Price_High  stock_Price_Low    report_Start_Date  \
d   insID
NaT 2286                0.0              0.0  2020-07-01T00:00:00
    2286                0.0              0.0  2020-01-01T00:00:00

               report_End_Date  broken_Fiscal_Year  currency  currency_Ratio  \
d   insID
NaT 2286   2021-06-30T00:00:00               False       SEK             1.0
    2286   2020-12-31T00:00:00               False       SEK             1.0

           net_Sales  report_Date
d   insID
NaT 2286     364.529          NaT
    2286     348.207          NaT

[2 rows x 37 columns]

In [126]:
R12_tmp.loc[R12_tmp['report_Date'].isna(),'report_Date'] = pd.to_datetime(R12_tmp[R12_tmp['report_Date'].isna()]['year']+1,format="%Y")

In [124]:
R12_tmp.loc[R12_tmp['report_Date'].isna(),'report_Date']

0    None
1    None
Name: report_Date, dtype: object

In [125]:
pd.to_datetime(R12_tmp[R12_tmp['report_Date'].isna()]['year']+1,format="%Y")

0   2021-01-01
1   2020-01-01
Name: year, dtype: datetime64[ns]