In [1]:
from requests import get
from json import loads
from time import sleep
from typing import List
from borsdata_sdk.models.Instrument import Instrument
from borsdata_sdk.models.Market import Market
import pandas as pd
from http import HTTPStatus
from borsdata_sdk import BorsdataAPI
import borsdata_sdk
import requests
from pandas.io.json import json_normalize

In [2]:
auth_key = 'f4e8e3c7c46c4c34ae238a1822863410'

RATE_LIMIT = 429
borsdata = BorsdataAPI(auth_key)
instruments = borsdata.get_instruments()

In [3]:
my_list = []
for i in range(len(instruments)):
    tmp_list = [instruments[i].insId,instruments[i].name,instruments[i].countryId,instruments[i].sectorId,instruments[i].marketId,instruments[i].instrument]
    my_list.append(tmp_list)

instruments_df=pd.DataFrame(my_list,columns=['insID','Name','countryId','sectorId', 'marketId', 'instrument']) 

# Rename the lists to the real names
# MarketId: 1 = Large Cap, 2 = Mid Cap, 3=Small Cap, 4=First North

swe_stock_main = instruments_df[(instruments_df['countryId'] == 1) & (instruments_df['instrument'] == 0) & (instruments_df['marketId'].isin([1,2,3, 4]))]

In [ ]:
price_df = pd.DataFrame(columns=['d', 'insID','h','l','c','o','v'])
price_df = price_df.set_index(['d', 'insID'])

for ins in swe_stock_main['insID'].values:
    URL = "https://apiservice.borsdata.se/v1/instruments/"  + str(ins) + "/stockprices/?authKey=f4e8e3c7c46c4c34ae238a1822863410&maxCount=20"
    response = requests.get(URL)
    tmp_df = json_normalize(response.json(), record_path ='stockPricesList')
    
    tmp_df['d'] = pd.to_datetime(tmp_df['d'])
    tmp_df['insID'] = ins
    tmp_df = tmp_df.set_index(['d', 'insID'])
    #price_df.append(tmp_df)
    price_df = pd.concat([price_df,tmp_df], sort=True) 
    
price_df = price_df.sort_index()

In [ ]:
SAVE = 'NO'

if SAVE == 'YES':
    price_df.to_csv("SWE_PRICE_20YEAR.csv")

In [7]:
price_df

                         c         h         l         o        v
d          insID
2001-12-17 3       82.0161   83.9504   79.3080   82.7898  3566871
           6       51.0789   52.2267   50.2180   51.0789    41953
           7      232.0000  254.0000  232.0000  240.0000     1033
           8        3.2083    3.2250    3.2083    3.2083   154800
           13     748.5464  778.4882  740.5619  760.5231     7247
...                    ...       ...       ...       ...      ...
2021-12-16 2330    22.8000   23.3000   22.6000   23.3000    41277
           2331    15.4000   17.4000   14.8020   17.2020   151986
           2332    56.0000   56.4900   55.2500   55.2600    98827
           2335    22.9950   24.9000   19.5000   21.0000   649562
           2336     7.0020    7.6000    6.5000    7.3000  1008255

[1675233 rows x 5 columns]

In [ ]:
price_df.join(swe_stock_main, on=[insID'])

In [ ]:
swe_stock_main