In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

## Merging of price and reports

TO DO:

- why do I get INF values to some values?? Becuase some accounting variables is 0
- I belive there are many missing FCF numbers, thats why the low efficacy.
- Fix the warnings
- add gross profit margin (gross profit/sales), what about the very large values??

In [2]:
price_df = pd.read_csv('data/SWE_PRICE_20YEAR.csv')
price_df['d'] = pd.to_datetime(price_df['d'])
price_df = price_df.set_index(['d', 'insID'])

In [3]:
reports_df = pd.read_csv('data/Q_REPORTS.csv')
reports_df['d'] = pd.to_datetime(reports_df['d'])
reports_df = reports_df.set_index(['d', 'insID'])

In [4]:
reports_df.columns

Index(['broken_Fiscal_Year', 'cash_And_Equivalents', 'cash_Flow_For_The_Year',
       'cash_Flow_From_Financing_Activities',
       'cash_Flow_From_Investing_Activities',
       'cash_Flow_From_Operating_Activities', 'currency', 'currency_Ratio',
       'current_Assets', 'current_Liabilities', 'dividend',
       'earnings_Per_Share', 'financial_Assets', 'free_Cash_Flow',
       'gross_Income', 'intangible_Assets', 'net_Debt', 'net_Sales',
       'non_Current_Assets', 'non_Current_Liabilities', 'number_Of_Shares',
       'operating_Income', 'period', 'profit_Before_Tax',
       'profit_To_Equity_Holders', 'report_Date', 'report_End_Date',
       'report_Start_Date', 'revenues', 'stock_Price_Average',
       'stock_Price_High', 'stock_Price_Low', 'tangible_Assets',
       'total_Assets', 'total_Equity', 'total_Liabilities_And_Equity', 'year'],
      dtype='object')

In [5]:
#left merge reports on price data
complete_df =  price_df.join(reports_df, on=['d','insID'])


## FORWARD FILL
complete_df = complete_df.groupby(level='insID').ffill()

In [7]:
complete_df

                         c         h         l         o          v  \
d          insID
2002-02-04 3       67.7019   69.6363   65.7676   66.1545  8042020.0
           6       60.8355   63.1312   57.3920   57.3920    48724.0
           8        3.5750    3.5750    3.5750    3.5750    30000.0
           13     698.6433  738.5657  652.7324  676.6859     6640.0
           17      47.8333   48.3333   47.1667   47.8333  2709651.0
...                    ...       ...       ...       ...        ...
2022-02-02 2335    27.0000   28.0000   26.3000   28.0000     7949.0
           2336     7.4800    7.6000    7.2200    7.5800    24152.0
           2346     9.9000   10.2900    9.7200    9.8030    19531.0
           2347    30.8000   31.5000   30.5000   31.5000     7660.0
           2359    52.4000   53.2000   51.8000   51.8000    10498.0

                            Name  countryId  sectorId  marketId  instrument  \
d          insID
2002-02-04 3                 ABB          1       5.0         1           0
           6      Active Biotech          1       4.0         3           0
           8             Addtech          1       5.0         1           0
           13              Anoto          1       6.0         3           0
           17         Assa Abloy          1       5.0         1           0
...                          ...        ...       ...       ...         ...
2022-02-02 2335       Case Group          1       1.0         4           0
           2336      Nordic Asia          1       1.0         4           0
           2346   MTI Investment          1       1.0         4           0
           2347     W5 Solutions          1       6.0         4           0
           2359      Dala Energi          1      10.0         4           0

                  ... report_Start_Date  revenues  stock_Price_Average  \
d          insID  ...
2002-02-04 3      ...               NaN       NaN                  NaN
           6      ...               NaN       NaN                  NaN
           8      ...               NaN       NaN                  NaN
           13     ...               NaN       NaN                  NaN
           17     ...               NaN       NaN                  NaN
...               ...               ...       ...                  ...
2022-02-02 2335   ...               NaN       NaN                  NaN
           2336   ...               NaN       NaN                  NaN
           2346   ...               NaN       NaN                  NaN
           2347   ...               NaN       NaN                  NaN
           2359   ...               NaN       NaN                  NaN

                  stock_Price_High  stock_Price_Low  tangible_Assets  \
d          insID
2002-02-04 3                   NaN              NaN              NaN
           6                   NaN              NaN              NaN
           8                   NaN              NaN              NaN
           13                  NaN              NaN              NaN
           17                  NaN              NaN              NaN
...                            ...              ...              ...
2022-02-02 2335                NaN              NaN              NaN
           2336                NaN              NaN              NaN
           2346                NaN              NaN              NaN
           2347                NaN              NaN              NaN
           2359                NaN              NaN              NaN

                 total_Assets  total_Equity  total_Liabilities_And_Equity  \
d          insID
2002-02-04 3              NaN           NaN                           NaN
           6              NaN           NaN                           NaN
           8              NaN           NaN                           NaN
           13             NaN           NaN                           NaN
           17             NaN           NaN                           NaN
...                       ...           ...                           ...
2022-02-02 2335           NaN           NaN                           NaN
           2336           NaN           NaN                           NaN
           2346           NaN           NaN                           NaN
           2347           NaN           NaN                           NaN
           2359           NaN           NaN                           NaN

                  year
d          insID
2002-02-04 3       NaN
           6       NaN
           8       NaN
           13      NaN
           17      NaN
...                ...
2022-02-02 2335    NaN
           2336    NaN
           2346    NaN
           2347    NaN
           2359    NaN

[1692008 rows x 47 columns]

## TEST OF RESIDUAL MOMENTUM

In [8]:
from statsmodels.regression.rolling import RollingOLS
import statsmodels.api as sm

res_tmp = pd.DataFrame(price_df['c'])
res_tmp =res_tmp.groupby([res_tmp.index.get_level_values(1), pd.Grouper(freq='m', level=0)]).last()
res_tmp = res_tmp.unstack('insID')
res_tmp.columns = res_tmp.columns.get_level_values(1)

index_df = pd.read_csv('data/OMX_GI.csv')
index_df['d'] = pd.to_datetime(index_df['d'])
index_df = index_df.set_index(['d'])
index_df = pd.DataFrame(index_df['c'])
index_df = index_df.resample('m').last()
index_df.columns = ['INDEX']

res_tmp = res_tmp.join(index_df, on=['d'],how='left')

res_log = np.log(res_tmp) - np.log(res_tmp.shift(1))
res_log = res_log.loc[res_log['INDEX'].first_valid_index():,]


norm_res_df = pd.DataFrame()
ido_mom_df = pd.DataFrame()


for col in res_log.columns:
    try:
        X = sm.add_constant(res_log['INDEX'])
        Y = res_log[col]
        mod = RollingOLS(endog=Y, exog=X, window=36).fit(cov_type='HCO')
        Y_hat = mod.params['const'] + mod.params['INDEX']*res_log['INDEX']
        ind_residual = Y - Y_hat
        
        #HANDLE OUTLIERS??
        norm_res_df.loc[:,col] = ind_residual.rolling(12).mean()/ind_residual.rolling(12).std()
        ido_mom_df.loc[:,col] = ind_residual.rolling(12).mean()
        
    except:
        print("Error: ", col)
        norm_res_df.loc[:,col] = np.nan
        ido_mom_df.loc[:,col] = np.nan
        

temp_price_df  = pd.DataFrame(price_df['c'])


norm_res_df = norm_res_df.drop(["INDEX"], axis=1)       
norm_res_df['res_mom12'] = 'res_mom12'
norm_res_df = norm_res_df.set_index('res_mom12', append=True).unstack('res_mom12')
norm_res_df.columns = norm_res_df.columns.set_names(['insID', 'res_mom12'])
norm_res_df = norm_res_df.stack('insID')
norm_res_df.columns = norm_res_df.columns.set_names(None)
norm_res_df = temp_price_df.merge(norm_res_df, on = ['insID', 'd'], how="outer").swaplevel().sort_index()
norm_res_df = norm_res_df.groupby('insID').ffill()
norm_res_df = norm_res_df.unstack(level ='d').fillna(norm_res_df.unstack(level ='d').median()).stack(level ='d')
norm_res_df = pd.DataFrame(norm_res_df[['res_mom12']])


ido_mom_df = ido_mom_df.drop(["INDEX"], axis=1)       
ido_mom_df['ido_mom12'] = 'ido_mom12'
ido_mom_df = ido_mom_df.set_index('ido_mom12', append=True).unstack('ido_mom12')
ido_mom_df.columns = ido_mom_df.columns.set_names(['insID', 'ido_mom12'])
ido_mom_df = ido_mom_df.stack('insID')
ido_mom_df.columns = ido_mom_df.columns.set_names(None)
ido_mom_df = temp_price_df.merge(ido_mom_df, on = ['insID', 'd'], how="outer").swaplevel().sort_index()
ido_mom_df = ido_mom_df.groupby('insID').ffill()
ido_mom_df = ido_mom_df.unstack(level ='d').fillna(ido_mom_df.unstack(level ='d').median()).stack(level ='d')
ido_mom_df = pd.DataFrame(ido_mom_df[['ido_mom12']])

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/rolling.py:255: RuntimeWarning: divide by zero encountered in double_scalars
  s2 = ssr / (nobs - tot_params)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/rolling.py:255: RuntimeWarning: invalid value encountered in double_scalars
  s2 = ssr / (nobs - tot_params)
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1667: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = value

In [9]:
### 12 Month Alpha and Beta


res_tmp = pd.DataFrame(price_df['c'])
res_tmp =res_tmp.groupby([res_tmp.index.get_level_values(1), pd.Grouper(freq='m', level=0)]).last()
res_tmp = res_tmp.unstack('insID')
res_tmp.columns = res_tmp.columns.get_level_values(1)

index_df = pd.read_csv('data/OMX_GI.csv')
index_df['d'] = pd.to_datetime(index_df['d'])
index_df = index_df.set_index(['d'])
index_df = pd.DataFrame(index_df['c'])
index_df = index_df.resample('m').last()
index_df.columns = ['INDEX']

res_tmp = res_tmp.join(index_df, on=['d'],how='left')

res_log = np.log(res_tmp) - np.log(res_tmp.shift(1))
res_log = res_log.loc[res_log['INDEX'].first_valid_index():,]


alpha_df = pd.DataFrame()
beta_df = pd.DataFrame()


for col in res_log.columns:
    try:
        X = sm.add_constant(res_log['INDEX'])
        Y = res_log[col]
        mod = RollingOLS(endog=Y, exog=X, window=36).fit(cov_type='HCO')
        
        alpha = mod.params['const']
        beta = mod.params['INDEX']
        
        alpha_df.loc[:,col] = alpha
        beta_df.loc[:,col] = beta
  
        
    except:
        #print("Error: ", col)
        alpha_df.loc[:,col] = np.nan
        beta_df.loc[:,col] = np.nan

        
#### FORMAT DATA FRAMES
temp_price_df  = pd.DataFrame(price_df['c'])

alpha_df = alpha_df.drop(["INDEX"], axis=1)       
alpha_df['alpha'] = 'alpha'
alpha_df = alpha_df.set_index('alpha', append=True).unstack('alpha')
alpha_df.columns = alpha_df.columns.set_names(['insID', 'alpha'])
alpha_df = alpha_df.stack('insID')
alpha_df.columns = alpha_df.columns.set_names(None)
alpha_df = temp_price_df.merge(alpha_df, on = ['insID', 'd'], how="outer").swaplevel().sort_index()
alpha_df = alpha_df.groupby('insID').ffill()
alpha_df = alpha_df.unstack(level ='d').fillna(alpha_df.unstack(level ='d').median()).stack(level ='d')
alpha_df['volatility'] = alpha_df['c'].pct_change().groupby(level='insID').apply(lambda x: x.rolling(252).std()*252**0.5)
alpha_df = alpha_df.groupby(level='insID').apply(
    lambda x: x.assign(std_alpha = x.alpha/x.volatility))

alpha_df = pd.DataFrame(alpha_df[['alpha','std_alpha']])


beta_df = beta_df.drop(["INDEX"], axis=1)       
beta_df['beta'] = 'beta'
beta_df = beta_df.set_index('beta', append=True).unstack('beta')
beta_df.columns = beta_df.columns.set_names(['insID', 'beta'])
beta_df = beta_df.stack('insID')
beta_df.columns = beta_df.columns.set_names(None)
beta_df = temp_price_df.merge(beta_df, on = ['insID', 'd'], how="outer").swaplevel().sort_index()
beta_df = beta_df.groupby('insID').ffill()
beta_df = beta_df.unstack(level ='d').fillna(beta_df.unstack(level ='d').median()).stack(level ='d')
beta_df = pd.DataFrame(beta_df[['beta']])

## All Around Metrics

In [65]:
#Market Cap
mcap_df = complete_df[['c','number_Of_Shares']]

mcap_df = mcap_df.groupby(level='insID').fillna(method ='ffill')
mcap_df = mcap_df.groupby(level='insID').fillna(method ='bfill')


####

mcap_df['MCAP'] = mcap_df['c'] * mcap_df['number_Of_Shares']
mcap_df = mcap_df.sort_index()

In [66]:
#Cumulative dividends
div_adj_df = complete_df[['dividend', 'c']]
div_adj_df.loc[div_adj_df['dividend'].isna(),['dividend']] = 0
div_adj_df['rol_div'] = div_adj_df['dividend'].groupby(level='insID').apply(lambda x: x.rolling(252).mean())
div_adj_df.loc[div_adj_df['rol_div'].isna(),['rol_div']] = 0

div_adj_df = div_adj_df.groupby(level='insID').apply(
    lambda x: x.assign(day_div = x.rol_div/252))

div_adj_df['cum_day_div'] = div_adj_df['day_div'].groupby(level='insID').cumsum()
div_adj_df = div_adj_df.groupby(level='insID').apply(
    lambda x: x.assign(adj_c = x.c+ x.cum_day_div))

div_adj_df = div_adj_df['adj_c']

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [67]:
#rename lists and sectors

In [68]:
list_sector_df = complete_df[['Name','sectorId', 'marketId']]


list_sector_df['sector'] = np.nan
list_sector_df.loc[: , 'market']= list_sector_df['marketId'].replace({1: 'Large_Cap', 2: 'Mid_Cap',
                                                               3: 'Small_Cap', 4: 'First_North'})

list_sector_df.loc[: , 'sector']= list_sector_df['sectorId'].replace({1: 'finance_RE', 2: 'consumer_goods',
                                                               3: 'energy', 4: 'healthcare',
                                                                     5: 'industry', 6:'info_tech',
                                                                     7:'material', 8:'consumer_discretionary',
                                                                     9:'telecom', 10:'infrastructure'})

list_sector_df = list_sector_df[['Name','sector', 'market']]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

## Calculate EAR and SUE seperatly

In [69]:
EAR_date_df = pd.DataFrame(reports_df['report_Date'])
EAR_date_df['EA_ind'] = 1
EAR_date_df = price_df.join(EAR_date_df, on=['d','insID'])[['c','EA_ind' ]]
EAR_date_df['EA_plus'] = EAR_date_df['EA_ind'].groupby(level='insID').shift(1)
EAR_date_df = EAR_date_df[~EAR_date_df.index.duplicated(keep='last')]

#Calculate 3 day return, only select the days where EAR_date_df['EA_plus'] == 1
EAR_date_df['3day_ret'] = EAR_date_df['c'].groupby(level='insID').pct_change(3)
EAR_date_df['EA_ret'] = EAR_date_df['3day_ret'] * EAR_date_df['EA_plus']
EAR_date_df = EAR_date_df.unstack(level ='insID').fillna(method ='ffill').stack(level ='insID')
EAR_date_df = EAR_date_df.unstack(level ='d').fillna(EAR_date_df.unstack(level ='d').median()).stack(level ='d')

EAR_date_df['volatility_60day'] = EAR_date_df['c'].pct_change().groupby(level='insID').apply(lambda x: x.rolling(60).std()*252**0.5)
EAR_date_df.loc[EAR_date_df['volatility_60day'] <= 0.05 ,'volatility_60day'] = 0.05

EAR_date_df['EAR_std'] = EAR_date_df['EA_ret']/(EAR_date_df['volatility_60day'] )


EAR_date_df = EAR_date_df[['EA_ret', 'EAR_std']]
EAR_date_df = EAR_date_df.sort_index()

In [70]:
### SUE QUARTER

sue_df = pd.DataFrame(reports_df['earnings_Per_Share'])
sue_df['EPS_vol'] = sue_df['earnings_Per_Share'].groupby(level='insID').apply(lambda x: x.rolling(8).std())
sue_df['EPS_growth'] = sue_df['earnings_Per_Share'].groupby(level='insID').diff(4)
sue_df['SUE'] = sue_df['EPS_growth']/sue_df['EPS_vol']


### RSURP QUARTER

rsurp_df = pd.DataFrame(reports_df['revenues'])
rsurp_df['REV_vol'] = rsurp_df['revenues'].groupby(level='insID').apply(lambda x: x.rolling(8).std())
rsurp_df['REV_growth'] = rsurp_df['revenues'].groupby(level='insID').diff(4)
rsurp_df['RSURP'] = rsurp_df['REV_growth']/rsurp_df['REV_vol']


#left merge reports on price data
fund_mom_df =  price_df.join(sue_df, on=['d','insID'])
fund_mom_df =  fund_mom_df.join(rsurp_df, on=['d','insID'])

## FORWARD FILL
fund_mom_df = fund_mom_df.groupby(level='insID').ffill()
fund_mom_df = fund_mom_df.groupby(level='d').fillna(fund_mom_df.groupby(level='d').median())
fund_mom_df = fund_mom_df[['SUE', 'RSURP']]

In [72]:
#MOMENTUM & vol MEASURES

mom_df = complete_df[['c']]
#mom_df = mom_df.unstack(level ='insID').fillna(method ='ffill').stack(level ='insID')
mom_df['mom12'] = mom_df.c.groupby(level='insID').pct_change(252)
mom_df['mom6'] = mom_df.c.groupby(level='insID').pct_change(126)
mom_df['mom3'] = mom_df.c.groupby(level='insID').pct_change(63)
mom_df['mom1'] = mom_df.c.groupby(level='insID').pct_change(21)
mom_df['1_day_ret'] = mom_df.c.groupby(level='insID').pct_change()
mom_df['volatility'] = mom_df['1_day_ret'].groupby(level='insID').apply(lambda x: x.rolling(252).std()*252**0.5)
mom_df['volatility_60day'] = mom_df['1_day_ret'].groupby(level='insID').apply(lambda x: x.rolling(60).std()*252**0.5)
mom_df['VAR'] = mom_df['1_day_ret'].groupby(level='insID').apply(lambda x: x.rolling(252).var()*252**0.5)


### TRY EWMA 
mom_df['EMA_32'] = mom_df['c'].groupby(level='insID').apply(lambda x: x.ewm(span = 32).mean())
mom_df['EMA_96'] = mom_df['c'].groupby(level='insID').apply(lambda x: x.ewm(span = 96).mean())
mom_df['EMA_32_96'] = mom_df['EMA_32'] - mom_df['EMA_96']
mom_df['EMA_32_96'] =mom_df['EMA_32_96']/mom_df['EMA_32_96'].groupby(level='insID').apply(lambda x: x.rolling(96).std())
mom_df.loc[mom_df['EMA_32_96']==np.inf,'EMA_32_96' ] = mom_df['EMA_32_96'].median()


mom_df['EMA_288'] = mom_df['c'].groupby(level='insID').apply(lambda x: x.ewm(span = 288).mean())
mom_df['EMA_96_288'] = mom_df['EMA_96'] - mom_df['EMA_288']
mom_df['EMA_96_288'] =mom_df['EMA_96_288']/mom_df['EMA_96_288'].groupby(level='insID').apply(lambda x: x.rolling(96).std())
mom_df.loc[mom_df['EMA_96_288']==np.inf,'EMA_96_288' ] = mom_df['EMA_96_288'].median()



mom_df = mom_df.groupby(level='insID').apply(
    lambda x: x.assign(acceleration = x.mom6 -  x.mom12))
mom_df = mom_df.groupby(level='insID').apply(
    lambda x: x.assign(adj_mom = x.mom12 -  x.mom1))
mom_df = mom_df.groupby(level='insID').apply(
    lambda x: x.assign(sharpe = x.mom12/x.volatility))
mom_df = mom_df.groupby(level='insID').apply(
    lambda x: x.assign(VAR_mom = x.mom12/x.VAR))



mom_df = mom_df.groupby(level='d').fillna(mom_df.groupby(level='d').median())

mom_df = mom_df[['mom12', 'mom6', 'mom3', 'mom1','1_day_ret','volatility','volatility_60day', 'acceleration',
               'adj_mom','sharpe', 'EMA_32_96', 'EMA_96_288', 'VAR_mom']]
mom_df = mom_df.sort_index()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Merge Data

In [73]:
export_df = mcap_df.copy()

export_list = [mom_df ,EAR_date_df, fund_mom_df, list_sector_df,div_adj_df ]

for df in export_list:
    try:
        export_df = export_df.join(df.swaplevel(), on=['d','insID'],how='left')
    except:
        export_df = export_df.join(df, on=['d','insID'],how='left')

In [81]:
export_df[['mom12', 'mom6', 'EAR_std', 'SUE', 'RSURP']].corr(method = 'spearman')

            mom12      mom6   EAR_std       SUE     RSURP
mom12    1.000000  0.654422  0.201591  0.070142 -0.115707
mom6     0.654422  1.000000  0.152302  0.063472 -0.063607
EAR_std  0.201591  0.152302  1.000000  0.011343  0.116298
SUE      0.070142  0.063472  0.011343  1.000000  0.011400
RSURP   -0.115707 -0.063607  0.116298  0.011400  1.000000

In [101]:
export_df

                         c  number_Of_Shares           MCAP     mom12  \
d          insID
2002-02-04 3       67.7019         2288.0000  154901.947200       NaN
           6       60.8355           68.9200    4192.782660       NaN
           8        3.5750          263.2800     941.226000       NaN
           13     698.6433            4.3053    3007.868999       NaN
           17      47.8333         1113.6000   53267.162880       NaN
...                    ...               ...            ...       ...
2022-02-02 2335    27.0000               NaN            NaN  0.018939
           2336     7.4800               NaN            NaN  0.018939
           2346     9.9000               NaN            NaN  0.018939
           2347    30.8000               NaN            NaN  0.018939
           2359    52.4000               NaN            NaN  0.018939

                      mom6      mom3      mom1  1_day_ret  volatility  \
d          insID
2002-02-04 3           NaN       NaN       NaN        NaN         NaN
           6           NaN       NaN       NaN        NaN         NaN
           8           NaN       NaN       NaN        NaN         NaN
           13          NaN       NaN       NaN        NaN         NaN
           17          NaN       NaN       NaN        NaN         NaN
...                    ...       ...       ...        ...         ...
2022-02-02 2335  -0.111888 -0.055398 -0.363208  -0.042553    0.476737
           2336  -0.111888 -0.055398 -0.015789  -0.013193    0.476737
           2346  -0.111888 -0.055398 -0.058756   0.009895    0.476737
           2347  -0.111888 -0.055398 -0.210256  -0.019108    0.476737
           2359  -0.111888 -0.055398 -0.079867   0.015504    0.476737

                  volatility_60day  ...  EMA_96_288   VAR_mom  EA_ret  \
d          insID                    ...
2002-02-04 3                   NaN  ...         NaN       NaN     NaN
           6                   NaN  ...         NaN       NaN     NaN
           8                   NaN  ...         NaN       NaN     NaN
           13                  NaN  ...         NaN       NaN     NaN
           17                  NaN  ...         NaN       NaN     NaN
...                            ...  ...         ...       ...     ...
2022-02-02 2335           0.498164  ...   -0.112872  1.730921     0.0
           2336           0.498164  ...   -0.112872  1.730921     0.0
           2346           0.498164  ...   -0.112872  1.730921     0.0
           2347           0.498164  ...   -0.112872  1.730921     0.0
           2359           0.498164  ...   -0.112872  1.730921     0.0

                  EAR_std       SUE     RSURP            Name          sector  \
d          insID
2002-02-04 3          NaN       NaN       NaN             ABB        industry
           6          NaN       NaN       NaN  Active Biotech      healthcare
           8          NaN       NaN       NaN         Addtech        industry
           13         NaN       NaN       NaN           Anoto       info_tech
           17         NaN       NaN       NaN      Assa Abloy        industry
...                   ...       ...       ...             ...             ...
2022-02-02 2335       0.0  0.235218  1.186118      Case Group      finance_RE
           2336       0.0  0.235218  1.186118     Nordic Asia      finance_RE
           2346       0.0  0.235218  1.186118  MTI Investment      finance_RE
           2347       0.0  0.235218  1.186118    W5 Solutions       info_tech
           2359       0.0  0.235218  1.186118     Dala Energi  infrastructure

                       market     adj_c
d          insID
2002-02-04 3        Large_Cap   67.7019
           6        Small_Cap   60.8355
           8        Large_Cap    3.5750
           13       Small_Cap  698.6433
           17       Large_Cap   47.8333
...                       ...       ...
2022-02-02 2335   First_North   27.0000
           2336   First_North    7.4800
           2346   First_North    9.9000
           2347   First_North   30.8000
           2359   First_North   52.4000

[1692194 rows x 24 columns]

In [107]:


## Get current top N of different ranks
current_port_df = export_df.copy()#['Name']
current_port_df =current_port_df.groupby([current_port_df.index.get_level_values(1), pd.Grouper(freq='m', level=0)]).last()


current_port_df = current_port_df.reset_index(level='insID', drop=True)
current_port_df = current_port_df[current_port_df.index ==current_port_df.sort_index().index.unique()[-36]]
current_port_df.sort_values(by = 'SUE', ascending = True)[['Name', 'SUE', 'mom12']].tail(20)

                                Name       SUE     mom12
d
2019-03-31                   Boliden  2.450222 -0.086957
2019-03-31                  Midway B  2.483603  0.370079
2019-03-31          G5 Entertainment  2.577054 -0.694584
2019-03-31             XANO Industri  2.580745 -0.028302
2019-03-31                 TietoEVRY  2.592242  0.009957
2019-03-31          Atrium Ljungberg  2.613910  0.272436
2019-03-31            Active Biotech  2.642642 -0.220238
2019-03-31                 Softronic  2.663881  0.124161
2019-03-31                    KnowIT  2.679552  0.187351
2019-03-31                Wise Group  2.682738  0.137255
2019-03-31                Beijer Ref  2.699117  0.319116
2019-03-31                     Eniro  2.706112 -0.706344
2019-03-31                    Acroud  2.711579 -0.236923
2019-03-31              Stora Enso R  2.727209 -0.264990
2019-03-31                 BTS Group  2.745992  0.639024
2019-03-31                      Kabe  2.773271 -0.175824
2019-03-31               CTT Systems  2.805934 -0.001333
2019-03-31                     Thule  2.847418  0.168614
2019-03-31                   Volvo B  2.873151 -0.040000
2019-03-31  Swedish Orphan Biovitrum  2.922344  0.537540

In [90]:
test = export_df[export_df['Name'] == 'Kindred']

test = test.reset_index(level='insID', drop=True)

In [99]:
test[['SUE','EAR_std']].tail(60)

                 SUE   EAR_std
d
2021-11-08  1.986052  0.337206
2021-11-09  1.986052  0.335720
2021-11-10  1.986052  0.336259
2021-11-11  1.986052  0.336427
2021-11-12  1.986052  0.337046
2021-11-15  1.986052  0.341490
2021-11-16  1.986052  0.341721
2021-11-17  1.986052  0.343622
2021-11-18  1.986052  0.343581
2021-11-19  1.986052  0.343768
2021-11-22  1.986052  0.343259
2021-11-23  1.986052  0.343273
2021-11-24  1.986052  0.345919
2021-11-25  1.986052  0.348281
2021-11-26  1.986052  0.348288
2021-11-29  1.986052  0.350803
2021-11-30  1.986052  0.348424
2021-12-01  1.986052  0.346971
2021-12-02  1.986052  0.345356
2021-12-03  1.986052  0.345232
2021-12-06  1.986052  0.344774
2021-12-07  1.986052  0.338458
2021-12-08  1.986052  0.339323
2021-12-09  1.986052  0.349122
2021-12-10  1.986052  0.349258
2021-12-13  1.986052  0.348335
2021-12-14  1.986052  0.351695
2021-12-15  1.986052  0.356789
2021-12-16  1.986052  0.360144
2021-12-17  1.986052  0.358864
2021-12-20  1.986052  0.374873
2021-12-21  1.986052  0.379024
2021-12-22  1.986052  0.374888
2021-12-23  1.986052  0.389819
2021-12-27  1.986052  0.398636
2021-12-28  1.986052  0.431203
2021-12-29  1.986052  0.435301
2021-12-30  1.986052  0.474561
2022-01-03  1.986052  0.475854
2022-01-04  1.986052  0.474360
2022-01-05  1.986052  0.473084
2022-01-07  1.986052  0.496766
2022-01-10  1.986052  0.499251
2022-01-11  1.986052  0.498877
2022-01-12  1.986052  0.488786
2022-01-13  1.986052  0.499547
2022-01-14  1.986052  0.497039
2022-01-17  1.986052  0.501345
2022-01-18  1.986052  0.501780
2022-01-19  1.986052  0.502215
2022-01-20  1.986052  0.495899
2022-01-21  1.986052  0.488180
2022-01-24  1.986052  0.554955
2022-01-25  1.986052  0.571720
2022-01-26  1.986052  0.565392
2022-01-27  1.986052  0.565203
2022-01-28  1.986052  0.585577
2022-01-31  1.986052  0.579576
2022-02-01  1.986052  0.568079
2022-02-02  1.986052  0.568226

In [38]:
SAVE = 'NO'

if SAVE == 'YES':
    export_df.to_csv("data/Quarter_data.csv")

In [86]:
for col in export_df.columns:
    try:
        print(col + ' : ' + str(export_df[col].max()))
    except:
        print(col + ' is non-numerical')

c : 194062.5
number_Of_Shares : 8053.722
MCAP : 1459206.4000000001
mom12 : 89.89412152148857
mom6 : 59.75
mom3 : 36.25
mom1 : 22.8
1_day_ret : 27.333333333333332
volatility : 27.429925791827447
volatility_60day : 56.05378419492711
acceleration : 45.370253164556964
adj_mom : 89.62806647561702
sharpe : 51.34543551252829
EMA_32_96 : 23.19734431211355
EMA_96_288 : 109.03760520067078
VAR_mom : 570.0827880172344
EA_ret : 2.1052631578947367
EAR_std : 3.9775508863175997
SUE : 3.34852875583754
RSURP : 3.0403918091418842
Name : Öresund
sector : telecom
market : Small_Cap
adj_c : 194062.5

In [87]:
for col in export_df.columns:
    try:
        print(col + ' : ' + str(export_df[col].min()))
    except:
        print(col + ' is non-numerical')

c : 0.007
number_Of_Shares : 0.0023
MCAP : 0.01127
mom12 : -0.9894656488549618
mom6 : -0.9787037037037037
mom3 : -0.961878453038674
mom1 : -0.9596491228070175
1_day_ret : -0.9507142857142857
volatility : 0.0
volatility_60day : 0.0
acceleration : -87.98885836359383
adj_mom : -18.341284403669725
sharpe : -2.3410663622481485
EMA_32_96 : -23.05391664850282
EMA_96_288 : -149.62983543445335
VAR_mom : -2010.770996422898
EA_ret : -0.6978661493695442
EAR_std : -3.0798868245956754
SUE : -3.314876895730389
RSURP : -3.2560862402056654
Name : 2cureX
sector : consumer_discretionary
market : First_North
adj_c : 0.007