In [8]:
import pandas as pd
from matplotlib import pylab as plt
import numpy as np
from datetime import datetime
import math
import seaborn as sns
import sys
import sys
import re
import os.path

## data import

In [9]:
file_name =  "clean_data_2022-01-30.csv"
folder = "../clean_equity_data/"
data_tmp = pd.read_csv(folder + file_name)

In [20]:
# FUNCTIONS FOR VIEWING SINGLE COMPANY RANKINGS 

def company(company):
    for i in data['Company']:
        if company in i or company in i.lower():
            return data.loc[data['Company'] == i]
    print('No company found')
    
def Company(company):
    for i in data['Company']:
        if company in i or company in i.lower():
            stock = data.loc[data['Company'] == i]
            stock = stock[compact]
            return stock
    print('No company found')

In [10]:
### MOMENTUM
data_mom = data_tmp.copy()
#data_mom = data_mom.loc[(data_mom['Industry'] != 'Holding Companies')]


### GESTALT
data_gestalt = data_tmp.copy()
data_gestalt = data_gestalt.loc[(data_tmp['Sector'] != 'Financials')]

### Momentum Rank

In [11]:
# RANK ON DIFFERENT METRICS 

data_mom['3m Rank'] = data_mom['Return 3m'].rank(ascending = False)
data_mom['6m Rank'] = data_mom['Return 6m'].rank(ascending = False)
data_mom['1y Rank'] = data_mom['Return 1y'].rank(ascending = False)
data_mom['EA Rank'] = data_mom['EA ret'].rank(ascending = False)
data_mom['EA Std Rank'] = data_mom['EA ret std'].rank(ascending = False)
data_mom['Volatility Rank'] = data_mom['1 Year Volatility'].rank(ascending = True)
data_mom['MAD Rank'] = data_mom['1 Year Volatility'].rank(ascending = True)

# MOMENTUM WITH WOLATILITY AND EA
data_mom['Momentum Rank'] = (data_mom['3m Rank'] + data_mom['6m Rank'] +  data_mom['1y Rank'] + data_mom['Volatility Rank'] + data_mom['EA Std Rank']).rank(ascending = True)

### Gestalt Imputation and Rank

In [12]:
# MANAGE NaNs and NEGATIVE EARNINGS  

# set nan to median, only fundamental data
columns = ['P/E', 'EV/EBIT', 'P/FCF', 'P/S', 'P/B', 'ROC', 'ROE',
            'GPA', 'Assets Turn', 'FCFROE', 'Asset Growth']
for i in columns: 
    data_gestalt.loc[data_gestalt[i].isna() ,i] = data_gestalt[i].median()


    
# set negative values to max
for i in ['P/E', 'EV/EBIT', 'P/FCF', 'P/S', 'P/B']:
    data_gestalt.loc[data_gestalt[i] < 0 ,i] = data_gestalt[i].max()
    
# set nan yield & vol to 0
data_gestalt.loc[data_gestalt['Yield'].isna(),'Yield'] = 0

In [13]:
data_gestalt['3m Rank'] = data_gestalt['Return 3m'].rank(ascending = False)
data_gestalt['6m Rank'] = data_gestalt['Return 6m'].rank(ascending = False)
data_gestalt['1y Rank'] = data_gestalt['Return 1y'].rank(ascending = False)
data_gestalt['EA Rank'] = data_gestalt['EA ret'].rank(ascending = False)
data_gestalt['EA Std Rank'] = data_gestalt['EA ret std'].rank(ascending = False)


data_gestalt['Momentum Rank'] = (data_gestalt['3m Rank'] + data_gestalt['6m Rank'] + 
                                 data_gestalt['1y Rank'] + data_gestalt['EA Std Rank']).rank(ascending = True)



# Ranking where lower value is better
for i in ['P/E', 'P/B', 'P/S', 'P/FCF', 'EV/EBIT', 'Asset Growth']:
    data_gestalt[i +' Rank'] = data_gestalt[i].rank()
    

for i in ['Yield', 'ROE', 'ROC', 'FCFROE', 'GPA', 'Assets Turn']:
    data_gestalt[i + ' Rank'] = (-data_gestalt[i]).rank()
    
# Composite ranks
data_gestalt['Quality Rank'] = (data_gestalt['ROE Rank'] + data_gestalt['ROC Rank'] + data_gestalt['FCFROE Rank'] + 
                        data_gestalt['GPA Rank'] + data_gestalt['Assets Turn Rank']).rank()

data_gestalt['Value Rank'] = (data_gestalt['P/E Rank'] + data_gestalt['P/B Rank'] + data_gestalt['P/S Rank'] + data_gestalt['P/FCF Rank'] + 
                      data_gestalt['EV/EBIT Rank'] + data_gestalt['Asset Growth Rank']).rank()
 

data_gestalt['Gestalt Rank'] = ((data_gestalt['Value Rank'] + data_gestalt['Momentum Rank'] + data_gestalt['Quality Rank'])).rank()

### Data Error Check

In [14]:
#data_mom.isna().sum()
data_gestalt.isna().sum()

Unnamed: 0          0
Börsdata ID         0
Company             0
Industry            0
Volume              0
                   ..
GPA Rank            0
Assets Turn Rank    0
Quality Rank        0
Value Rank          0
Gestalt Rank        0
Length: 61, dtype: int64

### Sorting

In [15]:

#### MOMENTUM DATA FRAME
momentum_tmp = data_mom.sort_values(by=['Momentum Rank'])
#### Gestalt Data Frame
gestalt_tmp = data_gestalt.sort_values(by=['Gestalt Rank'])

In [17]:

compact = ['Company', 'List','Tick', 'Gestalt Rank', 'Quality Rank', 'Value Rank', 'Momentum Rank', 'EA ret std', '1 Year Volatility']
compact_mom = ['Company', 'List','Tick','Momentum Rank','EA ret std', '1 Year Volatility']
# numbers of stocks to select for diff strategies

stocks = 20
stocks_mom = 25
## MOMENTUM ##
momentum = momentum_tmp[0:stocks_mom]
Momentum = momentum[compact_mom]


## TRIPLE SORT ##
gestalt = gestalt_tmp[0:stocks]
gestalt = gestalt[compact]

### Print Stock Selection

In [18]:
#gestalt 
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', 'Black'),
  ('background-color', '#f7f7f9')
  ]
# Set CSS properties for td elements in dataframe
td_props = [('font-size', '12px'), ('text-align', 'center')]
#set caption props
caption_props = [('color', 'black'),('font-size', '22px'),
        ("text-align", "center"),
        ('font-weight', 'bold')]
# Set table styles
styles = [
    dict(selector="th", props=th_props),
    dict(selector="td", props=td_props),
    dict(selector="caption", props=caption_props)
]
gestalt.index = range(1, len(gestalt)+1)
gestalt_view = (gestalt.style.apply(lambda x: ['background: lightgreen' if x.name in range(1, 10+1) 
                              else '' for i in x], axis=1).set_table_styles(styles)
                 .format({'EA ret std': "{:.1f}",'1 Year Volatility': "{:.1%}"})
                 .set_caption("Gestalt"))
gestalt_view

In [19]:
th_props = [
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', 'Black'),
  ('background-color', '#f7f7f9')
  ]
# Set CSS properties for td elements in dataframe
td_props = [('font-size', '12px'), ('text-align', 'center')]
#set caption props
caption_props = [('color', 'black'),('font-size', '22px'),
        ("text-align", "center"),
        ('font-weight', 'bold')]
# Set table styles
styles = [
    dict(selector="th", props=th_props),
    dict(selector="td", props=td_props),
    dict(selector="caption", props=caption_props)
]
Momentum.index = range(1,len(Momentum)+1)
Momentum_view = (Momentum.style.apply(lambda x: ['background: lightgreen' if x.name in range(1,10+1) 
                              else '' for i in x], axis=1).set_table_styles(styles).format({'EA ret std': "{:.1f}",'1 Year Volatility': "{:.1%}"})
                 .set_caption("Focused Momentum"))
Momentum_view

In [28]:
momentum_tmp[momentum_tmp['Company'] == 'Transtema']

,Unnamed: 0,Börsdata ID,Company,Industry,Volume,P/FCF,Assets Turn,Gross profit,Tot. Assets,ROC,...,1 Year MAD,EA Volatility,3m Rank,6m Rank,1y Rank,EA Rank,EA Std Rank,Volatility Rank,MAD Rank,Momentum Rank
432,432,775,Transtema,Telecom Services,9.62,5.075,2.193,1069.857,746.278,0.59647,...,0.45005,0.361585,214.0,18.0,17.0,41.0,35.0,312.0,312.0,42.0

In [12]:
#### NEGATIVE RANKS

stocks = 20
## MOMENTUM ##
momentum = momentum_tmp[0:stocks]
Momentum = momentum[compact_mom]


## TRIPLE SORT ##
gestalt = gestalt_tmp[0:stocks]
gestalt = gestalt[compact]

neg_momentum = momentum_tmp.tail(stocks)[::-1][compact_mom]
neg_gestalt = gestalt_tmp.tail(stocks)[::-1][compact]

In [13]:
neg_momentum

,Company,List,Tick,Momentum Rank,EA ret std,1 Year Volatility
120,Desenio,First North,DSNO,427.0,-3.629469,0.931052
240,Kancera,First North,KAN,426.0,-4.734334,0.760562
313,Oncopeptides,Mid Cap,ONCO,425.0,-0.731550,2.006452
104,Climeon,First North,CLIME B,424.0,-1.587466,0.798432
142,Enad Global 7,First North,EG7,423.0,-1.272416,0.739580
347,Readly,Mid Cap,READ,422.0,-2.927363,0.539057
434,Vimian Group,First North,VIMIAN,421.0,-2.185936,0.487458
46,Azelio,First North,AZELIO,420.0,-0.782825,0.772498
385,SpectraCure,First North,SPEC,419.0,-0.735108,0.998207
121,Diamyd Medical,First North,DMYD B,418.0,-0.778326,0.617148
146,Eolus Vind,Mid Cap,EOLU B,417.0,-2.319309,0.500203
357,Saniona,Small Cap,SANION,416.0,-0.784732,0.551978
167,Fingerprint Cards,Mid Cap,FING B,415.0,-3.392572,0.734389
325,Physitrack,First North,PTRK,414.0,-0.537857,0.621084
446,ZignSec,First North,ZIGN,413.0,-2.109148,0.559917
117,Crunchfish,First North,CFISH,412.0,-2.849253,0.960145
184,GomSpace,First North,GOMX,411.0,-2.273614,0.650118
326,Pierce Group,Mid Cap,PIERCE,410.0,-2.331134,0.490174
60,BHG Group,Large Cap,BHG,409.0,-4.398742,0.426644
191,Hansa Biopharma,Mid Cap,HNSA,408.0,-0.862308,0.527858

In [14]:
neg_gestalt

,Company,List,Tick,Gestalt Rank,Quality Rank,Value Rank,Momentum Rank,EA ret std,1 Year Volatility
340,Q-Linea,Mid Cap,QLINEA,371.0,365.0,348.0,358.0,-2.510544,0.427852
191,Hansa Biopharma,Mid Cap,HNSA,370.0,366.0,331.0,351.0,-0.862308,0.527858
117,Crunchfish,First North,CFISH,369.0,346.0,363.5,335.0,-2.849253,0.960145
240,Kancera,First North,KAN,368.0,360.0,315.0,369.0,-4.734334,0.760562
113,Cortus Energy,First North,CE,367.0,371.0,365.0,298.0,-0.869394,0.817887
357,Saniona,Small Cap,SANION,366.0,369.0,287.5,357.0,-0.784732,0.551978
97,Cell Impact,First North,CI B,365.0,336.0,360.0,301.5,-1.480502,0.767370
211,Immunovia,Mid Cap,IMMNOV,364.0,362.0,332.5,297.0,-0.358773,0.694951
104,Climeon,First North,CLIME B,363.0,355.0,267.0,365.5,-1.587466,0.798432
362,Scandinavian Enviro,First North,SES,362.0,361.0,353.0,273.0,-0.084326,0.526077
46,Azelio,First North,AZELIO,361.0,337.0,293.0,353.0,-0.782825,0.772498
444,Xspray Pharma,Mid Cap,XSPRAY,360.0,339.0,312.0,329.0,-0.198423,0.965850
385,SpectraCure,First North,SPEC,359.0,317.0,316.0,346.0,-0.735108,0.998207
445,Xvivo Perfusion,Mid Cap,XVIVO,358.0,299.0,349.5,325.5,-1.437728,0.389108
69,Biovica,First North,BIOVIC B,357.0,340.5,343.0,285.5,-0.021311,0.583576
446,ZignSec,First North,ZIGN,355.5,343.0,276.0,349.5,-2.109148,0.559917
145,Enzymatica,First North,ENZY,355.5,281.0,349.5,338.0,-2.551911,0.580756
316,OrganoClick,First North,ORGC,354.0,309.0,319.0,337.0,-1.166696,0.565395
177,Gapwaves,First North,GAPW B,353.0,335.0,344.0,280.0,-0.284474,0.462174
89,Calliditas Therapeutics,Mid Cap,CALTX,352.0,359.0,305.0,294.0,1.153951,0.621624

In [15]:
save = "YES"
if save == "YES":
    data_date  = re.search(r'\d{4}-\d{2}-\d{2}', file_name)
    folder = '../clean_equity_data'
    exp_file_name = "rank_data_{}".format(data_date.group(0))+ ".csv"
    data_tmp.to_csv(os.path.join(folder, exp_file_name))